<% content_for :page_actions do %>
  <%= button_link_to t('spree_announcement.new_announcement'), new_object_url, { class: 'btn-success', icon: 'add', id: 'admin_new_announcement_link' } %>
<% end %>
<% content_for :page_title do %>
  <%= t('spree_announcement.title') %>
<% end %>
<% announcements = @announcements.where.not(position: nil) %>
<%# announcements = @announcements.all %>
<h3>Announcements</h3>
<table class="table sortable" id="listing_announcements" data-hook data-sortable-link="<%= update_positions_admin_announcements_url %>">
  <thead>
    <tr data-hook="admin_announcements_index_headers">
      <th><%= Spree.t(:published) %></th>
      <th data-hook="admin_announcements_index_header_actions" class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% announcements.each do |announcement| %>
      <tr id="<%= spree_dom_id announcement %>" data-hook="admin_announcements_index_rows">
        <td><%= announcement.message %></td>
        <td><%= announcement.published ? Spree.t(:say_yes) : Spree.t(:say_no) %></td>
        <td data-hook="admin_announcements_index_row_actions" class="actions text-right">
          <%= link_to_edit announcement, no_text: true, class: 'edit' %>
          &nbsp;
          <%= link_to_delete announcement, no_text: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>