<h2 class="form_title">Announcement</h2>
<%= form_for [:admin, @announcement] do |f| %>
  <div class="form-inputs row">
    <div class="col-md-12">
      <%= f.field_container :message do %>
        <%= f.label :message, t(:message) %><br>
        <%= f.text_field :message, class: 'fullwidth form-control', placeholder: "Write announcement" %>
      <% end %>
    </div>
    <div class="col-md-6 starts_at">
      <%= f.field_container :starts_at do %>
        <%= f.label :starts_at, t(:starts_at) %><br>
        <%= f.text_field :starts_at, class: 'fullwidth form-control', placeholder: "Starts at" %>
      <% end %>
    </div>  
    <div class="col-md-6 ends_at">
      <%= f.field_container :ends_at do %>
        <%= f.label :ends_at, t(:ends_at) %><br>
        <%= f.text_field :ends_at, class: 'fullwidth form-control', placeholder: "Ends at" %>
      <% end %>
    </div>
  </div>
      
    <div class="form-actions">
      <%= f.submit 'Create', :data => {:'disable-with' => "Creating"}, class: "btn btn-success"  %>
    </div>

  </div>
<% end %>