<% announcements = Spree::Announcement.all %>
<div class="prommotion-topbar">
	<div class="prommotion-topbar__text container">
	  <% announcements.each_with_index do |message, index| %>
	      <span><%= message.message %></span>
	  <% end %>
  	</div>
</div>